
<div class = "row">
  <h1>Search Datasets</h1><hr>    
</div>

<%= form_tag :action => 'save_search' do %>

<div class = "row Mix_div">
  <div class = "col-sm-4"></div>
  <div class = "col-sm-4">
    <div class="row">
      <ul class = "list-group">
        <li class = "list-group-item text-right">
          <span class="pull-left"><strong>Experiment Information</strong></span>
          
          <p>
            <br/>
            <%= text_field_tag :csearchBox, params[:csearchBox], placeholder: "Search by Keyword" %>
            <br/>
          </p>
          <span class="pull-left"><strong>Select Database</strong></span>
          <br/>
          <p>
            <table class="table" style="border:none">
              <tr >
              <td width="30%" style="border:none;padding:2px 2px 2px 2px">
                  <%if params[:AE_check]=="on"%>
                    <input style="display:inline;width:30%" type="checkbox" id="AE_check" name="AE_check" value="on" checked>
                  <% else %>
                    <input style="display:inline;width:30%" type="checkbox" id="AE_check" name="AE_check" >
                  <%end %>
                </td>
                <td style="border:none;padding:2px 2px 2px 2px">
                  <label style="float:left;" for="AE_check"><em>Array Express</em></label>
                </td>
              </tr>
              <tr style="display:none;" id="AE_filters">
                <td colspan="2" style="border:1px solid #ddd">
                  <label for='attr_experSave' class="pull-left">Experiment type</label>
                  <%= select :attr, :experSave, options_for_select(["All assays by Molecule","Amplicon Sequencing","DNA Assay","Metabolic Profiling","Protein assay","RNA assay"],selected:@attr_exper)%>
                  <br/>
                  <br/>
                  <label for='attr_techSave' class="pull-left">Technology type</label>
                  <%= select :attr, :techSave, options_for_select(['All technologies','Array assay','Mass spectrometry assay','Sequencing assay'] ,selected:@attr_tech) %>
                  <br/>
                  <br/>
                </td>
              </tr>
              <tr>
                <td width="30%" style="border:none;padding:2px 2px 2px 2px">
                  <%if params[:GEO_check]=="on"%>
                    <input style="display:inline;width:30%" type="checkbox" id="GEO_check" name="GEO_check" value="on" checked>
                  <% else %>
                    <input style="display:inline;width:30%" type="checkbox" id="GEO_check" name="GEO_check">
                  <%end %>
                  
    
                </td>
                <td style="border:none;padding:2px 2px 2px 2px">
                  <label for="GEO_check" style="float:left;"><em>GEO</em></label>
                </td>
              </tr>
              <tr style="display:none;" id="GEO_filters">
                <td colspan="2" style="border:1px solid #ddd">
                  <label for="GEO_exper" class="pull-left">Experiment type</label>
                  <table class="table" style="margin-bottom:10px;">
                    <tr>
                      <td width="15%" style="border:none;padding:0px;">
                        <input type="checkbox" checked id="GEO_exp_1" name="GEO_exp_1">
                      </td>
                      <td style="border:none;padding:0px;text-align:left;">
                        <label for="GEO_exp_1" style="font-weight:normal;">Expression profiling by array</label>
                      </td>
                    </tr>
                    <tr>
                      <td width="15%" style="border:none;padding:0px;">
                        <input type="checkbox" checked id="GEO_exp_2" name="GEO_exp_2">
                      </td>
                      <td style="border:none;padding:0px;text-align:left;">
                        <label for="GEO_exp_2" style="font-weight:normal;">Expression profiling by high throughput sequencing</label>
                      </td>
                    </tr>
                    <tr>
                      <td width="15%" style="border:none;padding:0px;">
                        <input type="checkbox" checked id="GEO_exp_3" name="GEO_exp_3">
                      </td>
                      <td style="border:none;padding:0px;text-align:left;">
                        <label for="GEO_exp_3" style="font-weight:normal;">Non-coding RNA profiling by array</label>
                      </td>
                    </tr>
                    <tr>
                      <td width="15%" style="border:none;padding:0px;">
                        <input type="checkbox" checked id="GEO_exp_4" name="GEO_exp_4">
                      </td>
                      <td style="border:none;padding:0px;text-align:left;">
                        <label for="GEO_exp_4" style="font-weight:normal;">Non-coding RNA by high throughput sequencing</label>
                      </td>
                    </tr>
                  </table>
                  <label for='GEO_org' class="pull-left">Organism type</label>
                  <table class="table"  style="margin-bottom:10px;">
                     <tr>
                      <td width="15%" style="border:none;padding:0px;">
                        <input type="checkbox" checked id="GEO_org_1" name="GEO_org_1">
                      </td>
                      <td style="border:none;padding:0px;text-align:left;">
                        <label for="GEO_org_1" style="font-weight:normal;">Homo-sapiens</label>
                      </td>
                    </tr>
                     <tr>
                      <td width="15%" style="border:none;padding:0px;">
                        <input type="checkbox" checked id="GEO_org_2" name="GEO_org_2">
                      </td>
                      <td style="border:none;padding:0px;text-align:left;">
                        <label for="GEO_org_2" style="font-weight:normal;">Mouse</label>
                      </td>
                    </tr>
                  </table>
                  
                </td>
              </tr>
            </table>
            <%= submit_tag "Search database", :name => "submit", class: "btn btn-success", id:"geo_submit_btn " %>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>



<div class = "col-sm-2"> </div>
<%if params[:submit]=="Search database" and params[:AE_check]=='on'%>
<hr>
<div style="text-align:center">
  
    <h2>Displaying <span style="background-color:#4682b4;padding:5px;border-radius:5px"><%=@users.size%></span> results</h2>
  
</div>
<br/>

  
<p>
  Download:
  <div style="text-align:center;">
    <div class = "col-sm-2">
      <%= link_to "Download", "/users/newcsv", :class => "btn btn-success btn-block" %>
  </div>
  </div>
</p>
 
<div id = "searchtable">
  <div  class="pull-center container-fluid">
    <div>
      <div >
        <div class = "row">
          <div class = "col-md-12">
            <div class="table-responsive">
                
                <table  class = "table table-hover table-bordered special">
                
                  <thead>
                    <tr>
                      <th>S.No</th>
                      <th>Accession</th>
                      <th class="col-md-3">Name</th>
                      <th class="col-md-1">Type</th>
                      <th class="col-md-1">Organism</th>
                      <th>Release Date</th>
                      <th>Assays</th>
                      <th>Relevance</th>
                      <th>Reason</th>
                    </tr>
                    
                  </thead>
                  
                  <tbody>
                   <% if @users %>  
                      <% i=0 %>
                      <% @users.each do |k,v| %>
                      <% i=i+1 %>
                    <tr>
                      <td style="text-align:center"><%= i %><span>.</span></td>
                      <td > <%= link_to k, "http://www.ebi.ac.uk/arrayexpress/experiments/#{k}", :target => '_blank' %></td>
                      <td > 
                        <%if !v[0].nil? %>
                            <%= v[0] %> 
                        <% end %>
                      </td>
                      <td > 
                        <%if !v[1].nil? %>
                            <%= v[1] %> 
                        <% end %> 
                      </td>
                      <td > 
                        <%if !v[2].nil? %>
                            <%= v[2] %> 
                        <% end %>    
                      </td>
                      <td > 
                        <%if !v[3].nil? %>
                            <%= v[3] %> 
                        <% end %>    
                      </td>
                      <td style="text-align:center"> 
                        <%if !v[4].nil? %>
                            <%= v[4] %> 
                        <% end %>    
                      </td>
                      <td >
                        <checkbox id="Relevance">
                        <%if !v[5].nil? and v[5]=="checked" %>
                          
                          <%= check_box_tag 'selected_keys_save[]',k, k-%>
                        <% else %>
                          <%=check_box_tag 'selected_keys_save[]',k-%>
                        <% end %>  
                      </td>
                      <td > 
                        <textarea id="reason_notes", name="reasons[]"><%if !v[6].nil? %><%=v[6]%><%end%></textarea> 
                      </td>
                    </tr>
                 
                      <%end %> 
                    <% end %> 
                     
                  </tbody>
                </table>
                             
               
            </div>        
          </div>
        </div>
      </div>
   
      <div style="clear:both"></div>
  
    </div>
  </div>
<div class = "row">
</div>
  <br/>
  
   
 
</div>

<% end %>

<%if params[:submit]=="Search database" and params[:GEO_check]=='on' %>

<hr>
<div style="text-align:center">
  
<h2>Displaying <span style="background-color:#4682b4;padding:5px;border-radius:5px"><%=@result_datasets.size%></span> results</h2>
  
</div>
<br/>
<div id = "searchtable">
  <p>
  Download:
  <div style="text-align:center">
    <div class = "col-sm-2">
      <%= link_to "Download", "/users/newcsv", :class => "btn btn-success btn-block" %>
  </div>
  </div>
</p>
  <div  class="pull-center container-fluid">
    <div>
      <div >
        <div class = "row">
          <div class = "col-md-12">
            <div class="table-responsive">
                
                <table id="re" class = "table table-hover table-bordered special">
                  <thead>
                    <tr>
                      <th>S. No.</th>
                      <th style="text-align:center" class="col-md-1">GSE ID</th>
                      <th style="text-align:center" class="col-md-3">Title</th>
                      <th style="text-align:center" >Platform</th>
                      <th style="text-align:center" class="col-md-1">Organism</th>
                      <th style="text-align:center" >Release Date</th>
                      <th style="text-align:center" >No. of Samples</th>
                      <th style="text-align:center" >Relevance</th>
                      <th style="text-align:center" >Reason</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% i=0 %>
                      <% @result_datasets.each do |k,v| %>
                      <% i=i+1 %>
                    <tr>
                      <td style="text-align:center"><%= i %><span>.</span></td>
                      <td style="text-align:center" > <%= link_to v[0], "https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=#{v[0]}", :target => '_blank' %></td>
                      <td> <%= v[1] %> </td>
                      <td >  </td>
                      <td style="text-align:center" > <%= v[2] %> </td>
                      <td style="text-align:center" > <%= v[3] %> </td>
                      <td style="text-align:center" > <%= v[4] %> </td>
                      <td >
                        <checkbox id="Relevance">
                        <%if !v[5].nil? and v[5]=="checked" %>
                          
                          <%= check_box_tag 'selected_keys_save_geo[]',k, k-%>
                        <% else %>
                          <%=check_box_tag 'selected_keys_save_geo[]',k-%>
                        <% end %>  
                      </td>
                      <td > 
                        <textarea id="reason_notes_geo", name="reasons_geo[]"><%if !v[6].nil? %><%=v[6]%><%end%></textarea> 
                      </td>
                    </tr>
                      <%end %> 
                 
                  </tbody>
                </table>
                           
            </div>        
          </div>
        </div>
      </div>
   
      <div style="clear:both"></div>
  
    </div>
  </div>
<div class = "row">
</div>
  <br/>
  
</div>

<% end %>

  <%if params[:submit]=="Search database" and (params[:AE_check]=='on' or params[:GEO_check]=='on') %>
    <div style="text-align:center;">
      <%= button_tag(:type => "submit",:class => "btn btn-primary", :name => "commit_save", :value => 'save_back') do %>
        <i class="glyphicon glyphicon-refresh"></i>Save and Back
      <% end %>
    </div>
  <% end %>

<% end %>





